.marker {
   /* width: 48px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 2px;
    text-align: center;
*/
    position: absolute;
    width: K_WIDTH;
    height: K_HEIGHT;
    left: -K_WIDTH / 2;
    top: -K_HEIGHT / 2;

    border: 5px solid #9fd461;
    border-radius: K_HEIGHT;
    background-color: white;
    text-align: center;
    color: #3f51b5;
    font-size: 16;
    font-weight: bold;
    padding: 3px;
}
.marker.selected { 
    background-color: #d7da50;
}
.marker.located {
    background-color: yellow;
}
